@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.blog {
  height: auto;
  width: 80vw;
  padding: 50px;
  margin: 50px auto 200px;
  border-radius: 0 20px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  line-height: 1.9rem;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.blog-preView {
  flex-basis: 47%;
  min-width: 650px;
  height: 200px;
  margin-top: 50px;
  box-shadow: 0 0 10px #ccc;
  border-bottom: 3px solid transparent;
  overflow: hidden;
  transition: all 300ms ease !important;
  position: relative;
  color: #888;
  background-color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}
.blog-preView .preImg {
  height: 80%;
  flex-basis: 30%;
  min-width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #fff;
  box-shadow: 0 0 0 1px #ccc;
  box-sizing: border-box;
  filter: grayscale(40%);
  transition: all 300ms ease;
}
.blog-preView .preInfo {
  flex-basis: 65%;
  height: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.blog-preView .preInfo span {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.9rem;
}
.blog-preView .preInfo p {
  margin-top: 10px;
  line-height: 1.4rem;
}
.blog-preView .preInfo .preDetail {
  height: 20px;
  width: 100%;
  margin-top: auto;
  padding: 15px 5px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  align-items: center;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.blog-preView .preInfo .preDetail .readMore {
  all: unset;
  cursor: pointer;
  color: #f9733e;
  font-size: 0.8rem;
  position: absolute;
  right: 0;
  top: -30px;
}
.blog-preView .preInfo .preDetail .readMore::before {
  content: "\f0fe  ";
  font-size: 0.8rem;
  font-family: "Font Awesome 5 Free";
}
.blog-preView .preInfo .preDetail span[class*=preDetail] {
  color: #ccc;
  font-size: 0.9rem;
  margin-left: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.blog-preView .preInfo .preDetail span[class*=preDetail]:first-of-type::before {
  content: "\f406  ";
  font-family: "Font Awesome 5 Free";
}
.blog-preView .preInfo .preDetail span[class*=preDetail]:nth-of-type(3) {
  cursor: pointer;
  transition: all 300ms ease;
}
.blog-preView .preInfo .preDetail span[class*=preDetail]:nth-of-type(3):before {
  content: "\f164  ";
  font-family: "Font Awesome 5 Free";
}
.blog-preView .preInfo .preDetail span[class*=preDetail]:nth-of-type(3):hover {
  color: #1d9ae2;
}
.blog-preView:hover {
  border-color: #f9733e;
  color: #222;
}
.blog-preView:hover .preImg {
  filter: grayscale(0%);
}

header {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
header .coverHead {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(to top, rgb(255, 255, 255), transparent, transparent);
}
header #headBackImage {
  height: 100vh;
  width: 100vw;
  background: center/cover url(./../../public/image/bc-head.jpg) no-repeat;
  position: absolute;
}
header .ml4 {
  position: absolute;
  z-index: 3;
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: 4.5em;
  top: 30%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header .ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 1;
  text-shadow: 10px 10px 50px #000;
  background-image: linear-gradient(to top, #f9733e, #fd8b38, #ffa234, #fdb935, #f9d03e);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  position: fixed;
  z-index: 99;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  left: 50px;
  top: 50px;
  cursor: pointer;
  box-shadow: 0 0 10px #999;
  /* Burgers */
}
nav .navLine {
  height: 0px;
  width: 10px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: absolute;
  top: 49px;
  left: 21px;
  border-radius: 0 0 10px 10px;
  list-style-type: none;
  transition: all 100ms ease;
  overflow: hidden;
  transition-delay: 200ms;
  /* menu Items */
  /* connection to line nd li */
  /* Hover effect */
}
nav .navLine a {
  visibility: hidden;
  color: transparent;
  text-decoration: none;
}
nav .navLine a.navItem {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-size: 1.4rem;
  padding: 6px 10px;
  color: #fff;
  letter-spacing: 5px;
  position: absolute;
  cursor: pointer;
  transition: all 200ms ease;
  left: 15px;
  border-radius: 0 5px 5px 0;
  visibility: visible;
  text-transform: uppercase;
}
nav .navLine a.navItem:first-child {
  top: 20px;
}
nav .navLine a.navItem:nth-child(2) {
  top: 80px;
  transition-delay: 160ms;
}
nav .navLine a.navItem:nth-child(3) {
  top: 140px;
  transition-delay: 240ms;
}
nav .navLine a.navItem:nth-child(4) {
  top: 200px;
  transition-delay: 320ms;
}
nav .navLine a.navItem:nth-child(5) {
  top: 260px;
  transition-delay: 400ms;
}
nav .navLine a:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 10px;
  left: -6px;
  top: 18px;
  background-color: #ccc;
  border-radius: 0 5px 5px 0;
}
nav .navLine a.navItem:before {
  content: attr(data-con);
  width: 0px;
  border-right: 3px solid #f9733e;
  position: absolute;
  color: #f9733e;
  transition: width 600ms ease;
  overflow: hidden;
}
nav .navLine a.navItem:hover::before {
  width: 90%;
}
nav .activeLine {
  height: 320px;
  overflow: visible;
}
nav .burger,
nav .burger:before,
nav .burger:after {
  height: 4px;
  width: 25px;
  position: absolute;
  top: 23px;
  right: 12px;
  background-color: #f9733e;
  border-radius: 5px;
  content: "";
  transition: all 500ms ease;
}
nav .burger:after {
  top: 9px;
  right: 0;
}
nav .burger:before {
  top: -9px;
  right: 0;
}
nav .navOpen,
nav .navOpen:after,
nav .navOpen:before {
  height: 4px;
  width: 25px;
  position: absolute;
  top: 23px;
  right: 12px;
  background-color: #f9733e;
  border-radius: 5px;
  content: "";
  transition: all 300ms ease;
}
nav .navOpen {
  transform: rotate(-90deg);
}
nav .navOpen:after {
  transform: rotate(40deg);
  width: 15px;
  right: 12px;
  top: 4px;
}
nav .navOpen:before {
  transform: rotate(-40deg);
  width: 15px;
  right: 12px;
  top: -4px;
}

#myFooter {
  background: linear-gradient(to top, #202020 60%, transparent 40%), top url(./../../public/image/city03.png);
  height: 500px;
  width: 100vw;
  display: grid;
  grid-template: 200px 250px auto/2fr 2fr 1fr;
  grid-template-areas: ". . ." " about map social " "copy copy copy";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-inline: 2%;
  margin-top: 200px;
}
#myFooter > div {
  color: #999;
  padding: 20px;
  position: relative;
}
#myFooter .footerAbout {
  grid-area: about;
  overflow: hidden;
}
#myFooter .footerAbout span {
  font-size: 2rem;
}
#myFooter .footerAbout span:before {
  content: "";
  height: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgba(29, 154, 226, 0.5);
  position: absolute;
  transform: translate(-10px, -3px);
}
#myFooter .footerAbout span:after {
  content: "";
  height: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgba(249, 115, 62, 0.5);
  position: absolute;
  transform: translate(10px, 20px);
  left: 0;
}
#myFooter .footerAbout p {
  padding: 10px;
  line-height: 1.6rem;
}
#myFooter .footerMap {
  grid-area: map;
  display: flex;
  align-items: center;
  justify-content: center;
}
#myFooter .footerMap span {
  position: absolute;
  bottom: 20px;
  color: #ccc;
}
#myFooter .footerContact {
  grid-area: social;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: flex-end;
}
#myFooter .footerContact a {
  line-height: 3rem;
  text-decoration: none;
  cursor: pointer;
  color: #999;
  transition: all 300ms ease;
}
#myFooter .footerContact a:hover {
  color: #1d9ae2;
}
#myFooter .copyArea {
  text-align: center;
  color: #ccc;
  padding-block: 10px;
  grid-area: copy;
}

.singleItem {
  min-height: 600px;
  width: 80%;
  margin: 100px auto;
  padding: 100px 50px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 0 15px #ccc;
}
.singleItem .headItem {
  height: 300px;
  max-width: 650px;
  width: 90%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 15px #ccc;
  border-radius: 15px;
}
.singleItem h2 {
  margin-block: 50px;
  font-size: 2.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-shadow: 0 0 15px #666;
}
.singleItem p {
  width: 80%;
  font-size: 1.3rem;
  line-height: 2rem;
}
.singleItem .fa-arrow-left {
  align-self: flex-start;
  transform: translate(20px, -50px);
  font-size: 2rem;
  cursor: pointer;
  transition: all 300ms ease;
}
.singleItem .fa-arrow-left:hover {
  color: #1d9ae2;
}
.singleItem .detailItem {
  width: 80%;
  border-top: 2px solid #ccc;
  padding: 20px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.singleItem .detailItem span {
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #aaa;
}
.singleItem .detailItem span:first-of-type {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.singleItem .detailItem span:first-of-type::before {
  content: "\f007  ";
  font-family: "Font Awesome 5 Free";
}
.singleItem .detailItem span:nth-child(3) {
  cursor: pointer;
  transition: all 300ms ease;
}
.singleItem .detailItem span:nth-child(3)::before {
  content: "\f164  ";
  font-family: "Font Awesome 5 Free";
}
.singleItem .detailItem span:nth-child(3):hover {
  color: #1d9ae2;
}

/* Blog */
@media (max-width: 1500px) {
  .blog-preView {
    flex-basis: 40%;
    min-width: 350px;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
  }
  .blog-preView .preImg {
    width: 90%;
    flex-basis: 50%;
    margin: 10px 0;
  }
  .blog-preView .preInfo {
    flex-basis: 65%;
    width: 95%;
    display: flex;
  }
  .blog-preView .preInfo > span {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.9rem;
    text-align: center;
  }
  .blog-preView .preInfo p {
    margin-top: 10px;
    line-height: 1.4rem;
    padding: 10px;
  }
}
/* Footer About Work */
@media (max-width: 950px) {
  #myFooter {
    grid-template: 200px 1fr 1fr/100%;
    justify-items: center;
    grid-template-areas: "." "social" "about";
  }
  #myFooter .footerMap {
    display: none;
  }
  #myFooter .footerContact {
    flex-direction: row;
    gap: 20px;
  }
  #myFooter .copyArea {
    display: none;
  }
  #myAbout {
    display: none;
  }
  #myWork {
    height: auto;
    width: 90%;
    flex-flow: column wrap;
  }
  #myWork .work {
    width: 90%;
    max-width: 400px;
    aspect-ratio: 1;
  }
}
/* Single Item */
@media (max-width: 550px) {
  .singleItem {
    width: 100%;
  }
  .singleItem p {
    font-size: 1rem;
  }
  .singleItem h2 {
    font-size: 1.2rem;
  }
  .singleItem .headItem {
    width: 100%;
    border-radius: 50%;
  }
  .singleItem .detailItem {
    flex-direction: column;
    gap: 20px;
  }
}
#myWork {
  height: auto;
  width: 80%;
  padding-block: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-self: center;
  gap: 5%;
  margin: 0 auto 50px;
}

.work {
  width: 40%;
  max-width: 400px;
  aspect-ratio: 1;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  padding: 20px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.work:hover .work-img {
  background-size: 150%;
  filter: grayscale(0%);
}
.work-img {
  height: 80%;
  width: 95%;
  background-position: center;
  background-size: 100%;
  border: 3px solid #ccc;
  transition: all 2s cubic-bezier(0.65, 0.05, 0.36, 1);
  filter: grayscale(80%);
  box-shadow: 0 0 15px #222;
}
.work a {
  color: #ccc;
  text-decoration: none;
  font-size: 1.4rem;
  margin-right: auto;
  transition: all 300ms ease;
}
.work a:hover {
  color: #1d9ae2;
}
.work a:after {
  content: "    \f35d";
  vertical-align: top;
  font: var(--fa-font-solid);
  font-size: 0.8rem;
}
.work .work-view {
  color: #eee;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.work .work-view::before {
  content: "\f007  ";
  font: var(--fa-font-solid);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

main {
  width: 100vw;
  min-height: 100vh;
  padding: 50px 0;
  background: top/contain url(./../../public/image/patternpad02.svg);
}

.freeArea {
  height: auto;
  width: 80vw;
  padding: 100px 50px;
  margin: 250px auto;
  border-radius: 0 15px;
  background-color: rgba(249, 115, 62, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  line-height: 1.9rem;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.freeArea h2 {
  text-align: center;
  margin: 10px 0;
  font-size: 2.2rem;
  text-shadow: 0 0 3px #fff;
}
.freeArea p {
  font-weight: 400;
  font-size: 1.2rem;
  padding: 15px 20px 0px;
}/*# sourceMappingURL=main.css.map */